name: Go Test

on: [push]

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go
    - name: Start Docker containers for Zookeeper, Kafka
      run: docker-compose -f docker/docker-compose.yml  --project-name kafka up -d
    - name: Wait for kafka service to be ready
      run: docker run --network kafka_default -it confluentinc/cp-kafka:5.4.0 cub kafka-ready -b broker:29092 1 120
    - name: Test
      run: go test -v ./...
